﻿textarea[data-sc-id=QueryTextBox] {
    resize: none;
    width: 88%;
    height: 200px;
    overflow: hidden;	
}

input[data-sc-id=StartItemTextBox] {
    width: 50%;

}
label[data-sc-id=StartItemLabel],label[data-sc-id=QueryLabel]{

	margin-top:10px !important;
	margin-bottom:3px !important;
	font-size: 1.2em;
	font-weight: bold;
}
div[data-sc-id=QueryAccordion]
{
    margin-top: 30px;
}
div[data-sc-id=ResultsAccordion]
{
    margin-top: 30px;
}

button[data-sc-id=ExecuteQueryButton]
{
    margin-top:20px;
    
    width: 200px;
    height: 50px;
    
}
.sc-button-text{
    font-size: 17px;
}

div[data-sc-id=BorderTotalTimeTaken]
{
    width: 50%;
    float: left;
}

div[data-sc-id=BorderTotalResults]
{
    width: 50%;
    float: left;
}